$background-fade-color : #F9FAFC;

// Indigo
$darkestIndigo : #093145;
$darkerIndigo : #0C374D;
$indigo : #0D3D56;
$lighterIndigo : #3C6478;

// Alice
$darkestAlice : #107896;
$darkerAlice : #1287A8;
$alice : #1496BB;
$lighterAlice : #43ABC9;

// Kelly
$darkestKelly : #829356;
$darkerKelly : #93A661;
$kelly : #A3B86C;
$lighterKelly : #B5C689;

// Daisy
$darkestDaisy : #BCA136;
$darkerDaisy : #D3B53D;
$daisy : #EBC944;
$lighterDaisy : #EFD469;

// Coral
$darkestCoral : #C2571A;
$darkerCoral : #DA621E;
$coral : #F26D21;
$lighterCoral : #F58B4C;

// Ruby
$darkestRuby : #9A2617;
$darkerRuby : #AD2A1A;
$ruby : #C02F1D;
$lighterRuby : #CD594A;